@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

// breakpoint for tablet and up
$md-screen: 768px;

$header-color: #47B475;
$primary-color: #498467;
$secondary-color: #A6D3A0;
$border-color: #ccc;
$heading-txt: 'Bungee Shade', cursive;
$primary-txt: 'Abel', sans-serif;

html, body {
	margin: 0;
	position: relative;
	height: 100%;
	overflow: hidden;
	font-family: $primary-txt;
}

header {
	background-color: $header-color;
	height: 100px;
	
	#top-bar {
		@include grid-row();
		
		h1 {
			font-family: $heading-txt;
			@include grid-column(12);
			@include breakpoint($md-screen) {
				@include grid-column(8);
			}
			
			padding-left: 0;
			font-size: 3rem;
			color: white;
			margin: 0;
		}
		
		#from-container{
			@include grid-column(4);
			@include breakpoint($md-screen) {
				@include grid-column(4);
			}
		}
	}
}

#message-container {
	@include grid-row();
	height: 100%;
	
	ul {
		@include grid-column(12);
		border: 1px solid $border-color;
		margin: 0;
		list-style-type: none;
		margin: 20px 0;
		padding: 1rem;
		height: calc(100% - 240px);
		overflow-y: scroll;
		
		li {
			border-bottom: 1px solid #e6e6e6;
    		margin-bottom: 15px;
		}
		
		li:last-child {
			border-bottom: none;
    		margin-bottom: 0;
		}
	}
}

#input-container{
	background-color: $header-color;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	
	#user-input {
		@include grid-row();
		
		input {
			@include grid-column(8);
		}
		
		button {
			@include grid-column(4);
		}
	}
}

button {
	display: inline;
	background-color: white;
	padding: 1rem;
	border: 1px solid $border-color;
}